version: '3.8'
services:

  static-webapp:
    restart: always
    image: nginx:alpine-slim
    ports:
      - '80:8001'
    networks:
      - frontend_network
    volumes:
      - './static-webapp:/usr/share/nginx/html:ro'
      - './static-webapp/nginx.conf:/etc/nginx/conf.d/default.conf:ro'

  reverse-proxy:
    restart: always
    image: nginx:alpine-slim
    networks:
      - reverse_proxy_network
    ports:
      - '81:81'
      - '82:82'
    volumes:
    - './reverse-proxy/nginx.conf:/etc/nginx/conf.d/default.conf:ro'

  flask-frontend:
    restart: always
    image: raphmn/flask-front:latest
    networks:
      - reverse_proxy_network

  flask-api:
    restart: always
    image: raphmn/flask-api:latest
    networks:
      - reverse_proxy_network

networks:
  frontend_network:
    driver: bridge
  reverse_proxy_network:
    driver: bridge