version: '3.8'

include:
  - ./static-webapp/docker-compose-static-webapp.yml
  - ./reverse-proxy/docker-compose-reverse-proxy.yml
  - ./flask-front/docker-compose-flask-front.yml
  - ./flask-api/docker-compose-flask-api.yml
  - ./stripe-flask/docker-compose-stripe-flask.yml

networks:
  frontend_network:
    name: frontend_network
    driver: bridge
  reverse_proxy_network:
    name: reverse_proxy_network
    driver: bridge