services:
  stripe-flask:
    image: raphmn/stripe-flask:latest
    restart: always
    env_file:
      - ../.env
    
    networks:
      - reverse_proxy_network

networks:
  reverse_proxy_network:
    name: reverse_proxy_network
    driver: bridge