version: "3.8"

services:
  reverse-proxy:
    image: nginx:alpine
    container_name: reverse-proxy
    restart: always
    ports:
      - "81:81"
      - "82:82"
    volumes:
      - ./reverse-proxy/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - reverse_proxy_network

networks:
  reverse_proxy_network:
    driver: bridge
